html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}

#hepsi {
    min-height: 100%;
    position: relative;
}

#header {
    background-color: #ff9800;
    box-shadow: inset 0px 4px 4px 2px #00000026;
    position: fixed;
    width: 100vw;
    z-index: 1;
    height: 9vh;
}

#header h1, #header h1 a, #header h1 a:visited, #header h1 a:active {
    color: #fff;
    text-decoration: none;
    font-size: 4vh;
}

#body {
	padding-top: 9vh;
	padding-bottom: 6vh;
}

#footer {
   position: fixed;
   bottom: 0;
   width: 100vw;
   background: #6cf;
   height: 3.5vh;
}

.content {
    text-align: -webkit-center;
    text-align: -moz-center;
}

h1 {
    font-family: 'Lobster', cursive;
    margin: 2vh;
    text-shadow: 2px 2px 5px black;
    text-rendering: optimizeSpeed;
}

h3 {
    font-family: 'Lobster', cursive;
    margin: 1px;
}

h4 {
    font-family: 'Lobster', cursive;
    text-align: right;
}

#footer input {
	width: 70vw;
}

#footer button {
	font-family: 'Lobster', cursive;
}

#footer table {
	margin: auto;
	writing-mode: vertical-lr;
}

@media (min-width: 576px) {
	.col-md-6 {
		width: 45%;
		float: left;
		margin-left: 1vw;
		margin-right: 1vw;
	}
}

@media (max-width: 576px) {
	#footer textarea {
		width: 50%;
	}
}

@media (max-width: 576px) {
	h4 {
		text-align: center;
	}
}
@media (max-width: 576px) {
	#footer button {
		display: inline;
	}
}


