html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    background-color: #6200EE;
    box-shadow: 0px 1rem 2rem 0px #00000026;
    padding: 10px;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

#header h1, #header h1 a, #header h1 a:visited, #header h1 a:active {
    color: #fff;
    text-decoration: none;
}

#body {
	padding: 7rem;
	padding-bottom: 60px;
}

#footer {
   position: fixed;
   bottom: 0;
   width: 100vw;
   background: #6cf;
}

.content {
    text-align: -webkit-center;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}
