html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}

* {
	max-width: 100%;
}

#hepsi {
    min-height: 100%;
    position: relative;
}

#header {
    background-color: #ff9800;
    box-shadow: inset 0px 4px 4px 2px #00000026;
    position: fixed;
    width: 100vw;
    z-index: 1;
    height: 9vh;
}

#header h1, #header h1 a, #header h1 a:visited, #header h1 a:active {
    color: #fff;
    text-decoration: none;
    font-size: 4vh;
}

.ustmenu {
    background-color: black;
}

.ustmenu #umsol, #umorta {
	margin-right: 15px;
	color: black;
}
.ustmenu #umsag {
	color: black;
}
.ustmenu #umsol:hover, #umorta:hover, #umsag:hover {
	color: white;
}


#body {
	padding-top: 9vh;
	padding-bottom: 6vh;
	margin-left: 10px;
	margin-right: 10px;
	text-align: -webkit-center;
    text-align: -moz-center;
}

#footer {
   position: fixed;
   bottom: 0;
   width: 100vw;
   background: #6cf;
   height: 4vh;
   box-shadow: inset 0px -4px 4px 2px #00000040;
}

h1 {
    font-family: 'Lobster', cursive;
    margin: 2vh;
    text-shadow: 2px 2px 5px black;
    text-rendering: optimizeSpeed;
}

h2 {
    font-family: 'Roboto', sans-serif;
    margin: 4vh;
}

h3 {
    font-family: 'Lobster', cursive;
    margin: 1px;
    text-transform: capitalize;
}

h4 {
    font-family: 'Lobster', cursive;
    margin: auto;
}

hh {
	font-family: 'Lobster', cursive;
	margin: 4vh;
}

#footer input {
	width: 70vw;
	font-size: 12px;
}

#footer button {
	font-family: 'Lobster', cursive;
}

#footer table {
	margin: auto;
	writing-mode: vertical-lr;
}

.ozet {
	display: inline-flex;
	width: auto;
}

.mecra {
	padding-right: 10vw;
}

.profil {
	padding-left: 10vw;
}

.sayfalar h2 {
	color: midnightblue;
	font-size: 99%;
}


@media (min-width: 576px) {
	.col-md-6 {
		width: 45%;
		float: left;
		margin-left: 1vw;
		margin-right: 1vw;
	}
}

@media (max-width: 576px) {
	#footer textarea {
		width: 50%;
	}
}

@media (max-width: 576px) {
	h4 {
		text-align: center;
	}
}
@media (max-width: 576px) {
	#footer button {
		display: inline;
	}
}
@media (min-width: 900px) {
	#footer input {
		width: 25vw;
	}
}
@media (max-height: 750px) {
	#footer {
		height: 10vw;
	}
}
.btn {
  border: none;
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 95%;
}
.btn:hover {
  background-color: white;
  color: black;
}
ul {
	padding-inline-start: 0px;
}
.sayfalar li {
	text-align: initial;
	margin-left: calc(100vw/3);
}
a {
	text-decoration-line: none;
	color: #5f9ea0;
}
.kutu {
	float: left;
	min-width: 30%;
}
.kutu li {
	text-align: initial;
	margin-left: 0px;
}