body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.header {
background-color: rgba(148, 144, 144, 0.1411764705882353);
box-shadow: 0 0.625rem 1.875rem 0 rgba(10,52,120,.1);
height: auto;
padding-bottom: 1px;
}

.header h1, .header h1 a, .header h1 a:visited, .header h1 a:active {
color: #c51818;
font-size: 36pt;
text-decoration: none;
text-align: center;
padding-top: 10px;
}

.content {
text-align: -webkit-center;
height: 70%;
}

h1, h2, h3, h4 {
font-family: 'Lobster', cursive;
}
