html, body, .tamsayfa { height: 100%; margin: 0; }

.tamsayfa {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: max-content 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "alinlik alinlik alinlik alinlik"
    "ustmenu ustmenu ustmenu ustmenu"
    "icerik icerik icerik icerik"
    "altbolum altbolum altbolum altbolum";
  overflow: auto;
}

.alinlik {
  display: grid;
  background-color: #ff9800;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
  gap: 0px 0px;
  grid-template-areas:
    "solalinlik merkezalinlik sagalinlik";
  grid-area: alinlik;
  font-size: 0.75em;
}

.solalinlik {
  grid-area: solalinlik;
  margin-left: 1rem;
}

.merkezalinlik { grid-area: merkezalinlik; }

.sagalinlik { grid-area: sagalinlik; }

.ustmenu {
  display: grid;
  height: fit-content;
  background-color: black;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "solustmenu ortaustmenu sagustmenu";
  grid-area: ustmenu;
  position: sticky;
  top: 0;
}

.solustmenu { grid-area: solustmenu; }

.ortaustmenu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "m1 m2 m3 m4";
  grid-area: ortaustmenu;
  max-width: fit-content;
  margin: auto;
}

.m1 { grid-area: m1; }

.m2 { grid-area: m2; }

.m3 { grid-area: m3; }

.m4 { grid-area: m4; }

.sagustmenu { grid-area: sagustmenu; }

.icerik {
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  grid-template-rows: 1fr;
  gap: 0px 5px;
  grid-template-areas:
    "solicerik ortaicerik ortaicerik sagicerik";
  grid-area: icerik;
}

.solicerik { grid-area: solicerik; }

.ortaicerik {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 1vh 0px;
  grid-template-areas:
    "baslik baslik"
    "posticerik posticerik"
    "solliste sagliste"
    "altmetin altmetin";
  grid-area: ortaicerik;
  max-width: fit-content;
  margin: auto;
}

.baslik {
  grid-area: baslik;
  text-align: center;
}

.posticerik {
  grid-area: posticerik;
  text-align: -webkit-center;
}

.solliste { grid-area: solliste; }

.sagliste { grid-area: sagliste; }

.altmetin { grid-area: altmetin; }

.sagicerik { grid-area: sagicerik; }

.altbolum {
  display: grid;
  background-color: black;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "solalt ortaalt ortaalt sagalt";
  grid-area: altbolum;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.solalt { grid-area: solalt; }

.ortaalt { grid-area: ortaalt; }

.sagalt { grid-area: sagalt; }

 {
  border: 1px solid red;
  position: relative;
}

h1 a {
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 5px black;
    text-rendering: optimizeSpeed;
    color: beige;
    text-decoration: none;
}
.btn {
  border: none;
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
.btn:hover {
  background-color: white;
  color: black;
}
input {
  border-radius: 4px;
  width: 150px;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: 20vw 20vw;
  grid-gap: 1vw 3vw;
  padding: 10px;
}