html, body { height: 100%; margin: 0; }

.tamsayfa {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr auto;
  gap: 0px 0px;
  grid-template-areas:
    "alinlik"
    "ustmenu"
    "icerik"
    "altbolum"; 
  align-items: start;
}

.alinlik {
  display: grid;
  background: #243238;
  grid-template-columns: auto auto auto;
  grid-template-rows: 60px;
  gap: 0px 0px;
  grid-template-areas: 
    "solalinlik merkezalinlik sagalinlik"; 
  }

.solalinlik { 
  margin-left: 0.5rem;
  line-height: 1rem;
}

.merkezalinlik { 
  text-align: center;
  color: white;
}

.sagalinlik { 
  text-align: right;
  margin-right: 0.5rem;
}

.sagalinlik img {
  height: -webkit-fill-available;
  height: 60%;
  margin-top: 13px;
  float: right;
}

.ustmenu {
  display: grid;
  height: fit-content;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "solustmenu ortaustmenu sagustmenu";
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(3px);
  background-color: #dadadaa1;
  box-shadow: 0px 2px 2px 0px #dadadaa1;
}

.solustmenu {}

.ortaustmenu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "oum-1 oum-2 oum-3 oum-4";
  max-width: fit-content;
  margin: auto;
  text-align: center;
}

.oum-1 {}

.oum-2 {}

.oum-3 {}

.oum-4 {
  border-right: 1px solid #cfcfcf;
}

.oum-1:hover, .oum-2:hover, .oum-3:hover, .oum-4:hover {
  background-color: black;
}

.czg {
  border-left: 1px solid #cfcfcf;
}

.sagustmenu {}

.icerik {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "solicerik ortaicerik sagicerik";
  margin-top: 1vh;
}

.solicerik {}

.ortaicerik {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "baslik"
    "ustmetin"
    "posticerik"
    "ustliste"
    "altmetin"; 
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.baslik {}

.ustmetin {
  max-width: 90ch;
  margin-left: auto;
  margin-right: auto;
}

/*
@media (min-width: 960px) {
  .ustmetin h2, .posticerik h2, .altmetin h2 {
    width: 50%;
    text-align: justify;
    font-weight: inherit;
    font-family: 'Righteous', cursive;
  }
}

@media (max-width: 959px) {
  .ustmetin h2, .posticerik h2, .altmetin h2 {
    text-align: justify;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-weight: inherit;
    font-family: 'Righteous', cursive;
  }
}
*/

.posticerik { 
  display: flex;
  flex-direction: column;
  gap: 1vh; 
}

.posticerik h2 {
  text-shadow: 0px 2px 2px black;
}

/*
@media (max-width: 576px) {
  .link .govdebtn {
    font-size: smaller;
  }
}
*/

.link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 1vw;
  grid-template-areas: "mecra profil paylas";
  max-width: fit-content;
  margin: auto; 
}

.link button {
  text-align: center;
}

.mecra {}

.profil {}

.paylas {}

.post {
  width: -webkit-fill-available;
  width: fit-content;
  margin: auto;
}

.gonder {
  display: flex;
  gap: 1vw;
  justify-content: center;
}

/* pyls Sosyal medya paylaşım butonları için oluşturulan class */

.pyls {
  font-family: 'Righteous';
  color: #ececec;
  font-size: 0.8rem;
}

.pyls:hover {
  color: #fdb943;
}

/* cizgi, postların arasında kalan sosyal medya paylaşım butonunun hangi posta ait olduğunu belirtir */
.cizgi {
  border: 1px solid rgb(255 148 3 / 50%);
}


.ustliste { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em 1em; 
  text-align: center;
  word-wrap:break-word;
  max-width: 90ch;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.ustliste button {
    font-size: 1rem;
}

.ikili {
  display: grid;
  grid-template-columns: 25px 1fr;
  gap: 0 10px;
  align-items: center;
  padding-left: 3vw;
  padding-right: 1vw;
}

.altmetin { 
  display: grid;
  grid-template-columns: 1fr; 
  margin-bottom: 58px;
}

.aciklama {
  max-width: 90ch;
  margin-left: auto;
  margin-right: auto;
}

.liste {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em 1em;
  max-width: 90ch;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.liste button {
    font-size: 0.9rem;
}

.sagicerik {}

.altbolum {
  display: grid;
  background-color: #002738;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "solalt ortaalt sagalt";
  position: fixed;
  bottom: 0;
  width: 100%;
}

.altbolum button {
  float: right;
  margin-top: 17px;
}

.solalt {}

.ortaalt { 
  margin: auto;
}

.ortaalt p {
  float: left;
  text-indent: inherit;
}

.sagalt {}





/* Bu kısımdan aşağısı bütün kapsayıcılara aittir!!! */



h1, h2 {
  font-family: 'Shrikhand', cursive;
  color: #ff9400;
  text-rendering: optimizeSpeed;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.3rem;
  text-shadow: 0px 2px 2px black;
}

h2 {
  font-size: clamp(1.4rem, 1.8vw, 2rem);
}

p {
  font-size: inherit;
  color: #243248;
  text-align: justify;
  text-indent: 2vw;
  font-family: 'Righteous', cursive;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1.5rem;
}

a {
  font-family: 'Shrikhand', cursive;
  color: #ff9400;
  text-decoration: none;
  text-transform: none;
}

input {
  border-radius: 4px;
  border: none;
  width: 70vw;
  max-width: 500px;
  height: 20px;
  background-color: #ececec;
}

img { 
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

iframe {}

.t {
  padding-left: 3vw;
  padding-right: 1vw;
}

/*
@media (max-width: 576px) {
  t {
    font-size: smaller;
  }
}
*/

e {
  color: #ff9400;
  font-family: 'Shrikhand';
  text-shadow: 1px 0px 1px black;
}


.govdebtn liste {
  font-size: revert;
}

.govdebtn {
  color: #243238;
  font-family: 'Righteous';
  font-size: 0.8rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-align: left;
  width: 100%;
  height: 2em;
  text-transform: capitalize;
  background-color: #dadada; 
}

.govdebtn:hover {
  background-color: #243238;
  color: #fdb943;
}


.menubtn {
  border: none;
  background-color: inherit; 
  cursor: pointer;
  display: inline-block;
  color: black;
  padding-left: 10px;
  padding-right: 10px; 
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
}
.menubtn:hover {
  color: #fdb943;
}

.facebook-this {
  background-color: rgb(59, 89, 152);
  padding: 5px;
}

.tweet-this {
  background-color: rgb(29, 161, 242);
  padding: 5px;
}

.mail-this {
  background-color: rgb(242, 110, 42);
  padding: 5px;
}

.telegram-this {
  background-color: rgb(0, 136, 204);
  padding: 5px;
}

.whatsapp-this {
  background-color: rgb(77, 194, 71);
  padding: 5px;
}