{% load static %}
<!doctype html>
<html lang="tr">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Sosyal Medyada Gündemi Belirleyen Paylaşımlar">
    <meta name="author" content="Oktay BAYRAM">
    <link rel="icon" href="../../favicon.ico">
    <title>Post Takip</title>
    <link rel="stylesheet" href="{% static 'css/uygpostblog.css' %}">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <!-- Bootstrap CSS
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css"> -->
    </head>
    <body>
        <div id="hepsi" class="container-fluid">
            <div id="header">
                <h1><a href="/">Sosyal Medya Gündemi</a></h1>
            </div>
            <div id="body" class="content">
                {% for post in posts %}
                    {% autoescape off %}
                        <p>{{ post.embed }}</p>
                    {% endautoescape %}
                {% endfor %}
            </div>
            <div id="footer" class="row">
                <div class="col-md-6">
                    <p>
                        <h4>
                            Takip edilmesini istediğiniz,
                        </h4>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        <form method="POST" class="post-form" action="/">{% csrf_token %}
                            {{ form.as_p }}<button type="submit" class="save btn btn-default"><h3>Gönder</h3></button>
                            
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>