{% load static %}
<html>
    <head>
        <title>Post Takip</title>
        <link rel="stylesheet" href="{% static 'css/uygpostblog.css' %}">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <!-- Bootstrap CSS
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css"> -->
    </head>
    <body>
        <div id="baslik" class="header">
            <h1><a href="/">Sosyal Medya Gündemi</a></h1>
        </div>
        <div id="satir" class="content">
            {% for post in posts %}
                {% autoescape off %}
                    <p>{{ post.embed }}</p>
                {% endautoescape %}
            {% endfor %}
        </div>
    </body>
</html>