{% load static %}
<!doctype html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Gündemi Belirleyen Sosyla Medya Paylaşımları">
    <meta name="author" content="oktaybayram@hotmail.com">
    <link rel="shortcut icon" type="image/png" href="static/media/favicon.ico"/>
    <title>Post Takip</title>
    <link rel="stylesheet" href="{% static 'css/uygpostblog.css' %}">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <!-- Bootstrap CSS
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css"> -->
    </head>
    <body>
        <div id="hepsi" class="container-fluid">
            <div id="header">
                <h1><a href="/">Sosyal Medya Gündemi</a></h1>
            </div>
            <div id="body">
                <p>
                    <img src="static/media/postakiplogo.svg" alt="Örnek Resim"/>
                </p>
                {% for post in posts %}
                <div class="ozet">
                    <div class="mecra">
                        <h3>{{ post.mecra }}</h3>
                    </div>
                    <div class="profil">
                        <h3>{{ post.profil }}</h3>
                    </div>
                </div>
                {% autoescape off %}
                <p>{{ post.embed }}</p>
                {% endautoescape %}
                {% endfor %}
            </div>
            <div id="footer" class="row">
                <div>
                    <form method="POST" class="post-form" action="">{% csrf_token %}
                        <table>
                            <tr>
                                <th>{{ form.as_p }}</th>
                            </tr>
                            <tr>
                                <td><button type="submit" class="save btn btn-default"><h3>Gönder</h3></button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>