{% extends 'uygpostblog/temel.html' %}
{% block title %}
        <title>Yenipost - Arama Sayfası</title>
{% endblock %}
{% block sayfalar %} 
                <div class="baslik">
                    <img src="/static/media/postakiplogo.svg" alt="Post Takip Animasyonu" style="height: 15vh;"/>
                    <h2>Arama<br>
                    Sonuçları</h2>
                </div>
                <div class="ustmetin">
                    <p>
                        Aradığınız kelimeyi içeren sosyal medya profil adları veya hesap bilgileri ile onlara ait mecraların listesidir. Bağlantıları tıklayarak İlgili mecra postlarına veya profil paylaşımlarına ulaşabilirsiniz.
                    </p>
                    {% if metin|length >= 1 %}
                        {% if metin == " " %}
                        <p>
                            Aranan Kelime : <e>BOŞLUK</e>
                        </p>
                        {% else %}
                        <p>
                            Aranan Kelime : <e>{{ metin }}</e>
                        </p>
                        {% endif %}
                    {% else %}
                    <p>
                        Aranan Kelime : <e>YOK</e>
                    </p>
                    {% endif %}
                </div>
                <div class="posticerik"></div>
                <div class="ustliste">
                    {% for Profiller in sonuc %}
                        <div>
                            <a href="{% url 'profilsayfasi' Profiller.Profil %}">
                                <button class="govdebtn t">{{ Profiller.Profil }}</button>
                            </a>
                        </div>
                        <div>
                            <a href="{% url 'mecrasayfasi' Profiller.Mecra %}">
                                <button class="govdebtn t">{{ Profiller.Mecra }}</button>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="altmetin">
                    <div class="aciklama">
                        {% if metin|length >= 1 %}
                            {% if sonuc|length >= 1 %}
                            {% else %}
                                <p><e>DİKKAT:</e> Aranan kelime ile eşleşen bir profil bulunamadı, lütfen başka bir ihtimal deneyiniz.</p>
                            {% endif %}
                        {% else %}
                            <p><e>HATA:</e> Arama için herhangi bir değer girmediniz!</p>
                        {% endif %}
                    </div>
                </div> 
{% endblock %}