{% extends 'uygpostblog/takip.html' %}

{% block listeler %}
<div class="sayfalar">
    <div>
        <h2>
            {{ baslik }} 'da ki profillerden takip edilenlerin listesi;
        </h2>
    </div>
    <div class="grid-container">
        {% for lis in lis %}
            <div>
                <h3><a href="{% url 'profilsayfasi' lis.profil %}">{{ lis.profil }}</a></h3>
            </div>
            <div>
                <h3><a target="_blank" href="{{ lis.link }}">{{ lis.link }}</a></h3>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}