{% extends 'uygpostblog/takip.html' %}
{% load social_share %}
{% block listeler %}
    <div class="aciklama">
        <p>
            Aşağıda <e>{{ baslik }}</e> da takip edilen profillerin güncel listesini ve {{ baslik }} sayfalarını görebilirsiniz;
        </p>
    </div>
    <div class="liste">
        {% for lis in lis %}
            <div>
                <button class="govdebtn t" onclick="window.location.href='{% url 'profilsayfasi' lis.Profil %}';">{{ lis.Profil }} postları</button>
            </div>
            <div>
                <button class="govdebtn t" onClick="javascript:window.open('{{ lis.Link }}', '_blank');">{{ baslik }} sayfasına git</button>
            </div>
        {% endfor %}
    </div>
{% endblock %}