{% extends 'uygpostblog/temel.html' %}

{% block content %}
    <div>
        <h2>
            Takip ettiğimiz profil ve hesapların <e>{{ mecraadi }}</e> paylaşımları listelenmektedir. Dilerseniz sayfamızda ki tüm postları görmek için ana sayfaya geri dönebilir veya sadece istediğiniz bir profile ait <e>{{ mecraadi }}</e> postlarının listelenmesini de sağlayabilirsiniz.
        </h2>
    </div>
    {% for post in posts %}
    <div class="link">
        <div class="mecra">
            <button class="govdebtn"  onclick="window.location.href='{% url 'anasayfamiz' %}';">< Geri Dön</button>
        </div>
        <div class="profil">
            <button class="govdebtn"  onclick="window.location.href='{% url 'profilsayfasi' post.profil %}';">{{ post.profil }} postları</button>
        </div>
    </div>
    <div class="post">
        {% autoescape off %}
            {{ post.embed }}
        {% endautoescape %}
    </div>
    {% endfor %}
{% endblock %}