{% extends 'uygpostblog/temel.html' %}

{% block content %}
    {% for post in posts %}
    <div class="ozet">
        <div class="mecra">
            <!-- <h3><a href="{% url 'anasayfamiz' %}">{{ post.mecra }} Postları</a></h3> -->
            <button onclick="window.location.href='{% url 'anasayfamiz' %}';">{{ post.mecra }} Postları</button>
        </div>
        <div class="profil">
            <!-- <h3><a href="{% url 'profilsayfasi' post.profil %}">{{ post.profil }}</a></h3> -->
            <button onclick="window.location.href='{% url 'profilsayfasi' post.profil %}';">{{ post.profil }}</button>
        </div>
    </div>
    {% autoescape off %}
    <p>{{ post.embed }}</p>
    {% endautoescape %}
    {% endfor %}
{% endblock %}