{% extends 'uygpostblog/temel.html' %}
{% load social_share %}
{% block sayfalar %}
    <div class="baslik">
        <h2>
            Post<br>
            Paylaşım Sayfası
        </h2>
    </div>
    <div class="ustmetin">
        <p>
            Aşağıda ki renkli paylaşım butonlarımız ile siz de bu post'u sosyal medya hesaplarınızda yayınlayabilir veya mesaj olarak gönderebilirsiniz.
        </p>
    </div>
    <div class="posticerik">
        {% for post in posts %}
        <div class="pencere">
            <div class="link">
                <div class="mecra">
                    <a href="{% url 'mecrasayfasi' post.Mecra %}">
                        <button class="govdebtn">{{ post.Mecra }} paylaşımları</button>
                    </a>
                </div>
                <div class="profil">
                    <a href="{% url 'profilsayfasi' post.Profil %}">
                        <button class="govdebtn">{{ post.Profil }} postları</button>
                    </a>
                </div>
                <div class="paylas">
                    <a href="{% url 'anasayfamiz' %}">
                        <button class="govdebtn"><i class="fas fa-home"></i> Ana Sayfa</button>
                    </a>
                </div>
            </div>
            <div class="post">
                {% autoescape off %}
                    {{ post.Post }}
                {% endautoescape %}
            </div>
            <div class="gonder">
                {% post_to_facebook object_or_url "Facebook" link_class="pyls" %}
                {% post_to_twitter "YeniPost: {{object.title}}" object_or_url "Twitter" link_class="pyls" %}
                {% send_email object.title "YeniPost: {{object.title}}" object_or_url "E-Mail" link_class="pyls" %}
                {% post_to_telegram "Telegram" object_or_url "Telegram" link_class="pyls" %}
                {% post_to_whatsapp object_or_url "WhatsApp" link_class="pyls" %}
            </div>
        </div>
        {% endfor %} 
    </div>
    <div class="ustliste"></div>
    <div class="altmetin"></div>
{% endblock %}