{% extends 'uygpostblog/temel.html' %}

{% block content %}
    <div>
        <h2>
            <e>{{ profiladi }}</e> postlarına hoşgeldiniz. Dilerseniz ilgili mecrada ki diğer hesaplarında paylaşımlarına ulaşabilir veya geri dön butonu ile ana sayfada ki tüm postları görebilirsiniz.
        </h2>
    </div>
    {% for post in posts %}
    <div class="link">
        <div class="mecra">
            <button class="govdebtn"  onclick="window.location.href='{% url 'mecrasayfasi' post.mecra_id %}';">{{ post.mecra }} paylaşımları</button>
        </div>
        <div class="profil">
            <button class="govdebtn"  onclick="window.location.href='{% url 'anasayfamiz' %}';">Geri Dön ></button>
        </div>
    </div>
    <div class="post">
        {% autoescape off %}
            {{ post.embed }}
        {% endautoescape %}
    </div>
    {% endfor %}
{% endblock %}