{% extends 'uygpostblog/temel.html' %}

{% block content %}
    {% for post in posts %}
    <div style="height: 2vh; margin-bottom: 2vh;">
        <div style="float: left;">
            <!-- <h3><a href="{% url 'mecrasayfasi' post.mecra %}">{{ post.mecra }}</a></h3> -->
            <button onclick="window.location.href='{% url 'mecrasayfasi' post.mecra_id %}';">{{ post.mecra }} paylaşımları</button>
        </div>
        <div style="float: right;">
            <!-- <h3><a href="{% url 'anasayfamiz' %}">{{ post.profil }} Paylaşımları</a></h3> -->
            <button onclick="window.location.href='{% url 'anasayfamiz' %}';">{{ post.profil }}</button>
        </div>
    </div>
    <div style="margin-bottom: 2vh;">
        <div>
            {% autoescape off %}
            {{ post.embed }}
            {% endautoescape %}
        </div>
    </div>
    {% endfor %}
{% endblock %}