{% extends 'uygpostblog/temel.html' %}
{% load social_share %}
{% block sayfalar %}
    <div class="baslik">
        <h2>
            {{ profiladi }}<br>
            Postları
        </h2>
    </div>
    <div class="ustmetin">
        <p>
            <e>{{ profiladi }}</e> postlarına hoşgeldiniz. Dilerseniz ilgili mecrada ki diğer profil veya hesaplarında paylaşımlarına ulaşabilir yada geri dön butonu ile ana sayfada ki tüm postları görebilirsiniz. Post sayfasına giderek, sadece o paylaşımı kendi sosyal mecralarınızda da paylaşabilirsiniz.
        </p>
    </div>
    <div class="posticerik">
        {% for post in posts %}
        <div class="pencere">
            <div class="link">
                <div class="mecra">
                    <button class="govdebtn"  onclick="window.location.href='{% url 'mecrasayfasi' post.Mecra %}';">{{ post.Mecra }} paylaşımları</button>
                </div>
                <div class="profil">
                    <button class="govdebtn"  onclick="window.location.href='{% url 'anasayfamiz' %}';"><i class="fas fa-home"></i> Ana Sayfa</button>
                </div>
                <div class="paylas">
                    <button class="govdebtn" onclick="window.location.href='{% url 'postsayfasi' post.pk %}';">Post sayfası <i class="fas fa-share-alt"></i></button>
                </div>
            </div>
            <div class="post">
                {% autoescape off %}
                    {{ post.Post }}
                {% endautoescape %}
            </div>
            <div class="gonder">
                {% post_to_facebook object_or_url "Facebook" link_class="pyls" %}
                {% post_to_twitter "YeniPost: {{object.title}}" object_or_url "Twitter" link_class="pyls" %}
                {% send_email object.title "YeniPost: {{object.title}}" object_or_url "E-Mail" link_class="pyls" %}
                {% post_to_telegram "Telegram" object_or_url "Telegram" link_class="pyls" %}
                {% post_to_whatsapp object_or_url "WhatsApp" link_class="pyls" %}
            </div>
        </div>
        {% endfor %} 
    </div>
    <div class="ustliste"></div>
    <div class="altmetin"></div>
{% endblock %}