{% extends 'uygpostblog/temel.html' %}

{% block sayfalar %}

    <div class="baslik">
        <img src="/static/media/postakiplogo.svg" alt="Post Takip Animasyonu" style="height: 15vh;"/>
    </div>
    <div class="posticerik">
        <h2>Yenipost olarak takip ettiğimiz sosyal medya profillerinin güncel listesine aşağıda ki mecra başlıklarından ulaşabilirsiniz, hatta dilerseniz bu listeleri dosya olarakta indirebilirsiniz; <b>{{ sonuncu }}</b> Güncelleme tarihli dosya için tıklayınız...</h2>
    </div>
    <div class="ustliste">
        {% for mec in mec %}
        <div>
            <button class="govdebtn" onclick="window.location.href='{% url 'listesayfasi' mec.mecra %}';"><i class="fa-brands fa-{{ mec.mecra }}"></i>  {{ mec.mecra }}</button>
        </div>
        {% endfor %}
    </div>
    <div class="altmetin">
        {% block listeler %}
        {% endblock %}
    </div>

{% endblock %}