{% extends 'uygpostblog/temel.html' %}

{% block sayfalar %}

<div class="ortaicerik">
    <div class="baslik">
        <img src="/static/media/postakiplogo.svg" alt="Post Takip Animasyonu" style="height: 15vh;"/>
        <h2>Takip edilen sosyal medya profillerini görmek için ilgili mecraya tıklayınız;</h2>
    </div>
    <div class="mecrabaslik"></div>
    <div class="mecraprofil"></div>
    <div class="posticerik">
        {% for mec in mec %}
            <div>
                <h3><a href="{% url 'listesayfasi' mec.mecra %}">{{ mec.mecra }}</a></h3>
            </div>
        {% endfor %}
    </div>
    <div class="solliste"></div>
    <div class="sagliste"></div>
    <div class="altmetin">
        {% block listeler %}
        {% endblock %}
    </div>
</div>

{% endblock %}