{% extends 'uygpostblog/temel.html' %}

{% block ustmenu %}
<div class="sayfalar">
	<h2>Kaliteli içerik üreten profiller ile takip edilmesi gereken sosyal medya hesapları<br>
	veya göndereceğiniz diğer mecraların bilgileri için şimdiden teşekkür ederiz.
	</h2>
	<div class="grid-container">
        {% for kast in kast %}
            <div>
                <h3>{{ kast.talep }}</h3>
            </div>
        {% endfor %}
    </div>
	<h2>Not : Önerilen sosyal medya hesapları alfabetik olarak sıralanmıştır.<br>
		<br>
		Lütfen sizde takip edilmesini istediğiniz twitter, instagram, youtube, tiktok gibi<br>
		mecralardan profil önerilerilerinizi bizim ile paylaşınız.
	</h2>
</div>
{% endblock %}