{% extends 'uygpostblog/temel.html' %}

{% block sayfalar %}

	<div class="baslik">
        <img src="/static/media/postakiplogo.svg" alt="Post Takip Animasyonu" style="height: 15vh;"/>
	    <h2>Haber niteliği taşıyan mecralar, kaliteli içerik üreten profiller veya sizce takip edilmesi gereken sosyal medya hesapları gibi sayfaların bilgileri için şimdiden teşekkür ederiz.</h2>
    </div>
	<div class="grid-container">
        {% for kast in kast %}
            <div>
                <h3>{{ kast.talep }}</h3>
            </div>
        {% endfor %}
    </div>
    <div class="altmetin">
	    <h2>Not : Önerilen sosyal medya hesapları alfabetik olarak sıralanmaktadır.<br>
            Siz de takip edilmesini istediğiniz twitter, instagram, youtube, tiktok gibi mecralardan profil önerilerilerinizi bize gönderebilirsiniz.
	    </h2>
    </div>

{% endblock %}

{% block form %}
    <form method="POST" class="post-form" action="">{% csrf_token %}
    {{ form.as_p }}
    <button class="btn" type="submit" style=""><h4>Gönder</h4></button>
    </form>
{% endblock %}