{% load static %}
<!doctype html>
<html lang="tr">
<head>
    <title>Yenipost.com Size Yeter</title>
    <meta charset="utf-8"/>
    <link rel="canonical" href="http://www.yenipost.com/"/>
    <meta name="robots" content="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="description" content="Gündemi Belirleyen Sosyal Medya Paylaşımları ile Sizde Her An Güncel Kalın"/>
    <meta name="author" content="oktaybayram@hotmail.com"/>
    <meta name="publisher" content="Python Django"/>

    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Yenipost.com | Güncel Paylaşımların Sitesi"/>
    <meta property="og:description" content="Gündemi Belirleyen Sosyal Medya Paylaşımları ile Sizde Her An Güncel Kalın" />
    <meta property="og:image" content="http://www.yenipost.com/thump.jpg"/>
    <meta property="og:url" content="http://www.yenipost.com/"/>
    <meta property="og:site_name" content="YeniPost.com"/>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'media/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/uygpostblog.css' %}"/>

    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    </head>
    <body>
        <div id="hepsi">
            <div id="baslik">
                <h1><a href="/" title="Anasayfa"> YENİPOST </a></h1>
                <h4>Gündemi Anlık Takip Edenlerin Sitesi</h4>
                <div class="ustmenu">
                    <button class="btn" onclick="location.href='{% url 'anasayfamiz' %}';">Tüm Postlar</button>
                    <button class="btn" onclick="location.href='{% url 'takiplistesi' %}';">Takip Listesi</button>
                    <button class="btn" onclick="location.href='{% url 'taleplistesi' %}';">Talep Listesi</button>
                    <button class="btn" onclick="location.href='{% url 'tesekkurlistesi' %}';">Teşekkür Listesi</button>
                </div>
            </div>
            <div id="menu">
                
            </div>
            <div id="govde">
                {% block ustmenu %}
                <p style="margin-top: 3vh;">
                    <img src="/static/media/postakiplogo.svg" alt="Post Takip Animasyonu" style="height: 15vh;"/>
                </p>
                    {% block content %}
                    {% endblock %}
                {% endblock %}
            </div>
            <div id="temel">
                <div>
                    <form method="POST" class="post-form" action="">{% csrf_token %}
                        <div class="grid-container">
                            <div>
                                {{ form.as_p }}
                            </div>
                            <div  style="margin: -14px 0px 0px 0px;">
                                <button type="submit" style="height: 25px;margin-top: 6px;"><h4>Gönder</h4></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>