{% load static %}
{% load social_share %}
<!DOCTYPE html>
<html lang="tr">
    <head>
        <title>Yenipost ile Gündemi Keşfet</title>
        <meta charset="utf-8"/>
        <meta name="theme-color" content="#FF9400">
        <link rel="canonical" href="https://www.yenipost.com/"/>
        <meta name="robots" content="all"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <meta name="description" content="Gündemi Belirleyen Sosyal Medya Paylaşımları ile Sizde Her An Güncel Kalın"/>
        <meta name="author" content="oktaybayram@hotmail.com"/>
        <meta name="publisher" content="Python Django"/>

        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Sosyal Medya Trendleri"/>
        <meta property="og:description" content="Sizde Gündemi Belirleyen Sosyal Medya Paylaşımları ile Her An Güncel Kalın" />
        <meta property="og:image" content="https://www.yenipost.com/static/media/thump.jpg"/>
        <meta property="og:url" content="https://www.yenipost.com"/>
        <meta property="og:site_name" content="Yenipost.com"/>
        
        <link rel="shortcut icon" href="{% static 'media/favicon.svg' %}" sizes="any" type="image/svg+xml">
        <link rel="stylesheet" type="text/css" href="{% static 'css/yenipostcss.css' %}"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static 'fontawesome_free/css/fontawesome.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesome_free/css/brands.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesome_free/css/solid.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesome_free/css/all.min.css' %}">

    </head>
    <body>
        <div class="tamsayfa">
            <div class="alinlik">
                <div class="solalinlik">
                    <h1>
                        <a href="/" title="Anasayfa">
                            <span style="color: white; letter-spacing: 0.15rem;">YENİ</span><br>POST
                        </a>
                    </h1>
                </div>
                <div class="merkezalinlik">
                    <form action="{% url 'aramasayfasi' %}" method="GET">
                        <input name="kelime" type="text" placeholder="Ara...">
                        <i class="fas fa-search buyutec"></i>
                    </form>
                </div>
                <div class="sagalinlik">
                    <img src="/static/media/yenipostlogo.svg" alt="Yenipost Logo"/>
                </div>
            </div>
            <div class="ustmenu">
                <div class="solustmenu"></div>
                <div class="ortaustmenu">
                    <div class="oum-1 czg">
                        <a href="{% url 'anasayfamiz' %}">
                            <button class="menubtn">Tüm Postlar</button>
                        </a>
                    </div>
                    <div class="oum-2 czg">
                        <a href="{% url 'takiplistesi' %}">
                            <button class="menubtn">Takip Listesi</button>
                        </a>
                    </div>
                    <div class="oum-3 czg">
                        <a href="{% url 'taleplistesi' %}">
                            <button class="menubtn">Talep Listesi</button>
                        </a>
                    </div>
                    <div class="oum-4 czg">
                        <a href="{% url 'tesekkurlistesi' %}">
                            <button class="menubtn">Teşekkür Listesi</button>
                        </a>
                    </div>
                </div>
                <div class="sagustmenu"></div>
            </div>
            <div class="icerik">
                <div class="solicerik"></div>
                <div class="ortaicerik">
                {% block sayfalar %}
                    <div class="baslik"></div>
                    <div class="ustmetin"></div>
                    <div class="posticerik">
                    {% block content %}
                    {% endblock %}
                    </div>
                    <div class="ustliste"></div>
                    <div class="altmetin"></div>
                {% endblock %}
                </div>
                <div class="sagicerik"></div>
            </div>
            <div class="altbolum">
                <div class="solalt"></div>
                <div class="ortaalt">
                {% block form %}
                {% endblock %}
                </div>
                <div class="sagalt"></div>
            </div>
        </div>
    </body>
</html>