{% extends 'uygpostblog/temel.html' %}

{% block sayfalar %}
<div class="baslik">
	<img src="/static/media/postakiplogo.svg" alt="Post Takip Animasyonu" style="height: 15vh;"/>
</div>
<div class="ustmetin">
    <h1><span style="color: white;">Teşekkür</span> Listesi</h1>
	<h2>Bu sayfamız aracılığı ile projemizin yapılabilmesi için yararlandığımız kaynaklara, paylaşmayı seven içerik üreticilerine ve cömert destekçilerimize teşekkür ederiz;</h2>
</div>
<div class="posticerik"></div>
<div class="ustliste">
    <div>
        <button class="govdebtn" onClick="javascript:window.open('https://tutorial.djangogirls.org/tr/', '_blank');"><t>Djangogirls Tutorial</t></button>
    </div>
    <div>
        <button class="govdebtn" onClick="javascript:window.open('https://olcay.dev/', '_blank');"><t>olcay.dev</t></button>
    </div>
    <div>
        <button class="govdebtn" onClick="javascript:window.open('https://www.w3schools.com/', '_blank');"><t>w3schools.com</t></button>
    </div>
    <div>
        <button class="govdebtn" onClick="javascript:window.open('https://medium.com/@burakakyol07/django-ve-django-rest-framework-kullanarak-restful-api-olu%C5%9Fturmak-2-a3359a451661', '_blank');"><t>Burak AKYOL</t></button>
    </div>
    <div>
        <button class="govdebtn" onClick="javascript:window.open('https://medium.com/python/python-requests-mod%C3%BCl%C3%BC-4af79ebdb8c8', '_blank');"><t>Sinan ERDİNÇ</t></button>
    </div>
    <div>
        <button class="govdebtn" onClick="javascript:window.open('https://artificial.design/archives/2018/05/23/svg-animation.html', '_blank');"><t>Artificial Design</t></button>
    </div>
    <div>
        <button class="govdebtn" onClick="javascript:window.open('https://www.youtube.com/c/MaxGoodridgeTech/featured', '_blank');"><t>Max Goodridge</t></button>
    </div>
    <div>
        <button class="govdebtn" onClick="javascript:window.open('https://www.youtube.com/channel/UClb90NQQcskPUGDIXsQEz5Q/featured', '_blank');"><t>Dev Ed</t></button>
    </div>
    <div>
        <button class="govdebtn" onClick="javascript:window.open('https://stackoverflow.com/', '_blank');"><t>stackoverflow.com</t></button>
    </div>
</div>
<div class="altmetin">
    <div class="aciklama">
        <h2>Siz de projemiz hakkında ki fikirlerinizi paylaşmak veya destek olup yardım etmek için lütfen bizim ile irtibata geçiniz.</h2>
        <h1><a href="mailto:oktaybayram@hotmail.com">oktaybayram@hotmail.com</a></h1>
    </div>
    <div class="liste"></div>
</div>
{% endblock %}