{% extends 'uygpostblog/temel.html' %}

{% block ustmenu %}
<div class="sayfalar">
	<h2>Bu projenin yapılabilmesi için yararlanılan kaynaklar ve destekleyicilerimiz;</h2>
	<ul>
		<li>
			<h3><a target="_blank" href="https://tutorial.djangogirls.org/tr/">Djangogirls Tutorial</a></h3>
		</li>
		<li>
			<h3><a target="_blank" href="https://olcay.dev/">olcay.dev</a></h3>
		</li>
		<li>
			<h3><a target="_blank" href="https://www.w3schools.com/">w3schools.com</a></h3>
		</li>
		<li>
			<h3><a target="_blank" href="https://medium.com/@burakakyol07/django-ve-django-rest-framework-kullanarak-restful-api-olu%C5%9Fturmak-2-a3359a451661">Burak AKYOL</a></h3>
		</li>
		<li>
			<h3><a target="_blank" href="https://medium.com/python/python-requests-mod%C3%BCl%C3%BC-4af79ebdb8c8">Sinan ERDİNÇ</a></h3>
		</li>
		<li>
			<h3><a target="_blank" href="https://artificial.design/archives/2018/05/23/svg-animation.html">Artificial Design</a></h3>
		</li>
		<li>
			<h3><a target="_blank" href="https://www.youtube.com/c/MaxGoodridgeTech/featured">Max Goodridge</a></h3>
		</li>
		<li>
			<h3><a target="_blank" href="https://www.youtube.com/channel/UClb90NQQcskPUGDIXsQEz5Q/featured">Dev Ed</a></h3>
		</li>
		<li>
			<h3><a target="_blank" href="https://stackoverflow.com/">Stackoverflow.com</a></h3>
		</li>
	</ul>
	<h2>Siz de projemize destek olup yardım etmek için lütfen bizim ile irtibata geçiniz.</h2>
	<h2><a href="mailto:oktaybayram@hotmail.com">oktaybayram@hotmail.com</a></h2>
</div>
{% endblock %}