{% extends 'uygpostblog/temel.html' %}
{% load social_share %}
{% block title %}
<title>Yenipost - Teşekkür Listesi</title>
{% endblock %}
{% block bodyid %}
    <body id="tesekkur">
{% endblock %}
{% block sayfalar %}
<div class="baslik">
	<img src="/static/media/postakiplogo.svg" alt="Post Takip Animasyonu" style="height: 15vh;"/>
    <h2>Teşekkür<br>
    Listesi</h2>
</div>
<div class="ustmetin">
	<p>Bu sayfamız aracılığı ile projemizin yapılabilmesi için yararlandığımız kaynaklara, paylaşmayı seven içerik üreticilerine ve cömert destekçilerimize teşekkür ederiz;</p>
</div>
<div class="posticerik"></div>
<div class="ustliste">
    <div>
        <a href="https://tutorial.djangogirls.org/tr/" target="_blank">
            <button class="govdebtn t">Djangogirls Tutorial</button>
        </a>
    </div>
    <div>
        <a href="https://olcay.dev/" target="_blank">
            <button class="govdebtn t">olcay.dev</button>
        </a>
    </div>
    <div>
        <a href="https://www.w3schools.com/" target="_blank">
            <button class="govdebtn t">w3schools.com</button>
        </a>
    </div>
    <div>
        <a href="https://medium.com/@burakakyol07/django-ve-django-rest-framework-kullanarak-restful-api-olu%C5%9Fturmak-2-a3359a451661" target="_blank">
            <button class="govdebtn t">Burak AKYOL</button>
        </a>
    </div>
    <div>
        <a href="https://medium.com/python/python-requests-mod%C3%BCl%C3%BC-4af79ebdb8c8" target="_blank">
            <button class="govdebtn t">Sinan ERDİNÇ</button>
        </a>
    </div>
    <div>
        <a href="https://artificial.design/archives/2018/05/23/svg-animation.html" target="_blank">
            <button class="govdebtn t">Artificial Design</button>
        </a>
    </div>
    <div>
        <a href="https://www.youtube.com/c/MaxGoodridgeTech/featured" target="_blank">
            <button class="govdebtn t">Max Goodridge</button>
        </a>
    </div>
    <div>
        <a href="https://www.youtube.com/c/DevEd/videos" target="_blank">
            <button class="govdebtn t">Dev Ed</button>
        </a>
    </div>
    <div>
        <a href="https://stackoverflow.com/" target="_blank">
            <button class="govdebtn t">stackoverflow.com</button>
        </a>
    </div>
</div>
<div class="altmetin">
    <div class="aciklama">
        <p>Siz de projemiz hakkında ki fikirlerinizi paylaşmak veya destek olup yardım etmek için lütfen bizim ile iletişime geçiniz.</p>
        <h2>İletişim</h2>
        <p style="text-align: center; text-indent: inherit;">
            <a href="mailto:oktaybayram@hotmail.com">
                <i class="far fa-envelope"></i>&nbsp;E-Posta 
            </a>
            &emsp;&emsp;&emsp;
            <a href="https://wa.me/905468314488" target="_blank">
                <i class="fab fa-whatsapp"></i>&nbsp;WhatsApp
            </a>
        </p>
        
    </div>
    <div class="liste"></div>
</div>
{% endblock %} 
{% block form %}
    <div class="altsatır">
        <div class="solalt">
            <img src="/static/media/telefon.png" style="height:45vh" />
        </div>
        <div class="sagalt">
            <h1>YeniPost.com'a<br>
                daha hızlı erişim İçin<br>
                ana ekranınıza<br>
                kısayolunu ekleyiniz</h1>
        </div>
    </div>
{% endblock %}